@{
    ViewData["Title"] = "Home Page";
}
<h2>Mockups</h2>
<ul>
    <li><a asp-area="" asp-controller="Home" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="GetResults">QuizResult</a></li>
</ul>
